<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Kisumu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-dark" style="color: grey;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="continer">
                    <div class="list-group">
                        <a href="#" class="list-group-item ">{{request.user.username}}</a>
                        {% block nav %}

                        {% endblock nav %}

                    </div>
                </div>
                <h4>Resources</h4>
                <ul>
                    <li>About Jubilee.pdf</li>
                    <li></li>
                </ul>
                <img src="{% static 'tmpl/img/jubilee5.jpeg'%}" width="350" alt="">
            </div>
            <div class="col-sm-8">

                {% block body %}

                {% endblock body %}
            </div>
        </div>

    </div>
</body>

</html>